/* Sidebar container */


/* Remove default list style */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Each menu item as a BOX */
.sidebar li {
  background: rgba(255, 255, 255, 0.12);
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 12px 16px;
  border-radius: 10px;
  cursor: pointer;

  /* smooth animation */
  transition: all 0.3s ease;

  /* text */
  font-size: 16px;
  font-weight: 500;
}

/* Hover effect */
.sidebar li:hover {
  background: #ffffff;
  color: #68387e;
  transform: translateX(6px);   /* little slide */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

/* Active / Selected menu */
.sidebar li.active {
  background: #ffffff;
  color: #68387e;
  font-weight: 600;
  box-shadow: inset 4px 0 0 #ffcc00;
}

.sidebar.open {
  width: 250px;
  padding: 20px;
}

.sidebar.closed {
  width: 70px;
  padding: 20px 10px;
}


.sidebar a {
  display: flex;
  align-items: center;              /* full li clickable */
  text-decoration: none;       /* underline remove */
  color: inherit;              /* li चा color वापर */
  width: 100%;
  height: 100%;
  gap: 14px;
  text-decoration: none;
  color: inherit;
}

.sidebar-toggle-edge {
  position: fixed;
  top: 100px;                 /* header खालून */
  left: 250px;               /* sidebar open असताना */
  z-index: 1000;
  margin-top: 6px;
  width: 28px;
  height: 28px;
  border: none;
  background: #f35207;
  color: #fff;
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;

  transition: left 0.3s ease;
}

.sidebar-toggle-edge.closed {
  left: 0;
}

.sidebar .icon {
  font-size: 20px;
  min-width: 24px;
  text-align: center;
}
.sidebar.closed .text {
  display: none;
}
.sidebar.open .text {
  display: inline;
}