{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "backend-chart.fullname" . }}
  labels:
    {{- include "backend-chart.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  rules:
    {{- range .Values.ingress.hosts }}
    - host: {{ .host }}
      http:
        paths:

          {{- range .paths }}
          - path: /api(/|$)(.*)
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ include "backend-chart.fullname" $ }}
                port:
                  number: {{ $.Values.service.port }}

          - path: /
            pathType: Prefix
            backend:
              service:  
                name: frontend-frontend-chart
                port:
                  number: 80
          {{- end }}
    {{- end }}
{{- end }}
